@page
@model ProyectoFinal.Pages.Eventos.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Evento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Evento.Id" />
            <div class="form-group">
                <label asp-for="Evento.AnfitrionId" class="control-label"></label>
                <select asp-for="Evento.AnfitrionId" class="form-control" asp-items="ViewBag.AnfitrionId"></select>
                <span asp-validation-for="Evento.AnfitrionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Evento.CategoriaId" class="control-label"></label>
                <select asp-for="Evento.CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId"></select>
                <span asp-validation-for="Evento.CategoriaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Evento.DjId" class="control-label"></label>
                <select asp-for="Evento.DjId" class="form-control" asp-items="ViewBag.DjId"></select>
                <span asp-validation-for="Evento.DjId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Evento.PagoId" class="control-label"></label>
                <select asp-for="Evento.PagoId" class="form-control" asp-items="ViewBag.PagoId"></select>
                <span asp-validation-for="Evento.PagoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Evento.Fecha" class="control-label"></label>
                <input asp-for="Evento.Fecha" class="form-control" />
                <span asp-validation-for="Evento.Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Evento.Precio" class="control-label"></label>
                <input asp-for="Evento.Precio" class="form-control" />
                <span asp-validation-for="Evento.Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Evento.NoInvitados" class="control-label"></label>
                <input asp-for="Evento.NoInvitados" class="form-control" />
                <span asp-validation-for="Evento.NoInvitados" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
